/* style guide */

/*
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px 
- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 200, 400, 600
*/

:root {
  --clr-red: hsl(0, 78%, 62%);
  --clr-cyan: hsl(180, 62%, 55%);
  --clr-orange: hsl(34, 97%, 64%);
  --clr-blue: hsl(212, 86%, 64%);

  --clr-very-dark-blue: hsl(234, 12%, 34%);
  --clr-grayish-blue: hsl(229, 6%, 66%);
  --clr-very-light-gray: hsl(0, 0%, 98%);
}

/* basic reset */
*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* general style */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background-color: var(--clr-very-light-gray);
  color: var(--clr-grayish-blue);
  font-weight: 200;
}

/* center container */
.container {
  max-width: 1200px;
  margin: 50px auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'header header header'
    'card-1 card-2 card-4'
    'card-1 card-3 card-4';
  grid-gap: 1.5rem;
}

/* layout */
/* setup for grid area */
.card-1 {
  grid-area: card-1;
}

.card-2 {
  grid-area: card-2;
}

.card-3 {
  grid-area: card-3;
}

.card-4 {
  grid-area: card-4;
}

header {
  grid-area: header;
  text-align: center;
  max-width: 500px;
}

header,
.card-1,
.card-2,
.card-3,
.card-4 {
  justify-self: center;
  align-self: center;
}

/* style header */
header h2 {
  color: var(--clr-very-dark-blue);
  font-weight: 600;
  font-size: 1.8rem;
}

header h1 {
  font-weight: 400;
  font-size: 1.8rem;
}


/* style cards */
.card {
  width: 350px;
  height: 200px;
  padding: 30px 25px;
  border-radius: 5px;

  /* offset-x | offset-y | blur-radius | color */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  color: var(--clr-very-dark-blue);
  font-size: 1.4rem;
  font-weight: 600;
}

.card-1 {
  border-top: 4px solid var(--clr-cyan);
}

.card-2 {
  border-top: 4px solid var(--clr-red);
}

.card-3 {
  border-top: 4px solid var(--clr-orange);
}

.card-4 {
  border-top: 4px solid var(--clr-blue);
}

.card img {
  display: block;
  margin-left: auto;
}

/* layout 2-column for mobile */
@media (max-width: 1050px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'header header'
      'card-1 card-2'
      'card-3 card-4';
  }
}

/* layout 1-column for mobile */
@media (max-width: 700px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'card-1'
      'card-2'
      'card-3'
      'card-4';
  }
}